@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.logo {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 160px 0;
}

#main-input {
    outline: none;
    border: none;
    width: 90%;
    word-wrap: break word;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.input-search {
    margin-top: 30px;
    display: flex;
    width: auto;
    padding: 15px 50px;
    padding-top: 20px;
    border-radius: 30px;
    border: 1px solid #cccccc;
    background: url(../assets/images/other/googlesearch.svg) no-repeat, 
    url(../assets/images/other/googlecamera.png) no-repeat, 
    url(../assets/images/other/googlemic.svg) no-repeat, 
    url(../assets/images/other/googlesearch_blue.svg) no-repeat;
    background-size: 24px;
    background-position: left 15px center, right 75px center, right 45px center, right 15px center;
}

.input-search:focus, .input-search:hover {
    box-shadow: 2px 3px 4px 2px #cccccc;
    outline: none;
}

.btn {
    border: 1px solid #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    border-radius: 2px
}

.btn:hover {
    box-shadow: 0px 1px 0px 0px #cccccc;
}

#isch {
    border: none;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 15px;
    background-color: #f2f2f2;
    border-top: #e4e4e4;
    font-size: 14px;
}

a {
    display: inline;
    padding-right: 27px;
    color: #5f6368;
}

header {
    font-size: 13px;
}

.foot-left {
    text-align: left;
    float: left;
    padding-top: 15px;
    padding-left: 15px;
}

.head-right, .foot-right {
    text-align: right;
    float: right;
    padding-top: 15px;
}
